        <div id="login-box">
          <div class="left">
            <h1>Login</h1>

          <form method="post" action="/users/login">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" name="login" value="Login" /></form>
            <a href="/users/register"><input type="submit" name="Register" value="Signup" /></a>
          </div>


        <!--  <div class="right">
            <span class="loginwith">Sign in with<br />social network</span>

            <button class="social-signin facebook">Log in with facebook</button>
            <button class="social-signin google">Log in with Google+</button>
          </div>

            <div class="or">OR</div>
-->          </div>
