<!--Shopping Tabs-->
<!-- Tab links -->
<div class="Tabs">
    <div class="tab">
    <button class="tablinks apple" onclick="openCity(event, 'Buy-Books')" id="defaultOpen">Buy Books</button>
    <button class="tablinks apple" onclick="openCity(event, 'Rent-Books')">Rent Books</button>
    <button class="tablinks apple" onclick="openCity(event, 'Donate-Books')">Donate Books</button>
    <button class="tablinks apple" onclick="openCity(event,'Cart')"><i class="fa fa-shopping-cart" style="font-size:20px;"></i></button>


    </div>

<!-- Tab content -->
<div id="Buy-Books" class="tabcontent">
    <div class="row">
      <div class="column">
        <div  id="bookbtn">
          <div class="figure">
            <p><img src="/images/book1.jpg" alt="book2" style="width:50%;cursor:pointer;">
            <div class="overflow"><figcaption style="font-weight: bold;">Book1</figcaption></div>
            <figcaption style="font-weight: bold;">Price: ₹ 1561  </figcaption>
            <a href="https://www.amazon.in/Imperialism-Nationalism-Making-Indian-Capitalist/dp/0761995641/ref=sr_1_2?ie=UTF8&qid=1521450308&sr=8-2&keywords=indian+trade+history">
              <button class="buy-now">Buy-Now</button></a>
          </div>
        </div>
      </div>
      <!--Description modal for book1-->
      <!-- The Modal -->
            <div id="book-modal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <div class="modal-header">
                  <h2>Book1</h2>
                  <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                  <img src="/images/book1.jpg" alt="book1-photo" style="float: left; padding: 0 20px 20px 0; width: 25%">
                  <p>This is the description about book</p>
                  <p>Some other text...</p>
                </div>
                <div class="modal-footer">
                  <a href="1e03b25b.ngrok.io/FBS"><button class="review">Review</button></a>
                  <button class="buy-now">Add to Cart</button>
                </div>
              </div>

            </div>
        <!--Book1 ended-->


        <div class="column">
          <div  id="bookbtn2">
            <div class="figure">
              <p><img src="/images/book2.jpg" alt="book2" style="width:50%;cursor:pointer;">
              <div class="overflow"><figcaption style="font-weight: bold;">Book1</figcaption></div>
              <figcaption style="font-weight: bold;">Price: ₹ 457  </figcaption>
              <a href="https://www.amazon.in/People-Taxation-Trade-Mughal-India/dp/0198066317/ref=sr_1_4?ie=UTF8&qid=1521450308&sr=8-4&keywords=indian+trade+history">
                <button class="buy-now">Buy-Now</button></a>
            </div>
          </div>
        </div>

      <!--Description modal for book2-->
      <!-- The Modal -->
            <div id="book-modal2" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <div class="modal-header">
                  <h2>Book2</h2>
                  <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                  <img src="/images/book2.jpg" alt="book3-photo" style="float: left; padding: 0 20px 20px 0; width: 25%">
                  <p>This is the description about book</p>
                  <p>Some other text...</p>
                </div>
                <div class="modal-footer">
                  <button class="buy-now">Add to Cart</button>
                </div>
              </div>

            </div>
        <!--Book2 ended-->


        <div class="column">
          <div  id="bookbtn">
            <div class="figure">
              <p><img src="/images/book3.jpg" alt="book2" style="width:50%;cursor:pointer;">
              <div class="overflow"><figcaption style="font-weight: bold;">Book1</figcaption></div>
              <figcaption style="font-weight: bold;">Price: ₹ 989  </figcaption>
              <a href="https://www.amazon.in/Indian-Shipping-Sea-Borne-Maritime-Activity/dp/1333870566/ref=sr_1_6?ie=UTF8&qid=1521450308&sr=8-6&keywords=indian+trade+history">
                <button class="buy-now">Buy-Now</button></a>
            </div>
          </div>
        </div>
        <div class="column">
          <div  id="bookbtn">
            <div class="figure">
              <p><img src="/images/book3.jpg" alt="book3" style="width:50%;cursor:pointer;">
              <div class="overflow"><figcaption style="font-weight: bold;">Book1</figcaption></div>
              <figcaption style="font-weight: bold;">Price: ₹ 989  </figcaption>
              <a href="https://www.amazon.in/Trade-Temple-Court-Textiles-Collection/dp/8175083549/ref=sr_1_8?ie=UTF8&qid=1521450308&sr=8-8&keywords=indian+trade+history">
                <button class="buy-now">Buy-Now</button></a>
            </div>
          </div>
        </div>
        <div class="column">
          <div  id="bookbtn">
            <div class="figure">
              <p><img src="/images/book4.jpg" alt="book4" style="width:50%;cursor:pointer;">
              <div class="overflow"><figcaption style="font-weight: bold;">Book1</figcaption></div>
              <figcaption style="font-weight: bold;">Price: ₹ 1200  </figcaption>
              <a href="https://www.amazon.in/Imperialism-Nationalism-Making-Indian-Capitalist/dp/0761995641/ref=sr_1_2?ie=UTF8&qid=1521450308&sr=8-2&keywords=indian+trade+history">
                <button class="buy-now">Buy-Now</button></a>
            </div>
          </div>
        </div>
        <div class="column">
          <div  id="bookbtn">
            <div class="figure">
              <p><img src="/images/book5.jpg" alt="book5" style="width:50%;cursor:pointer;">
              <div class="overflow"><figcaption style="font-weight: bold;">Book1</figcaption></div>
              <figcaption style="font-weight: bold;">Price: ₹2089  </figcaption>
              <a href="https://www.flipkart.com/indian-shipping-history-sea-borne-trade-maritime-activity-indians/p/itme8nggegwhpudv?pid=9781113943002&lid=LSTBOK97811139430027BSXJB&marketplace=FLIPKART&srno=s_1_5&otracker=search&fm=SEARCH&iid=4bae8f88-9f72-4eff-a492-a7e77bdfe167.9781113943002.SEARCH&ppt=Search%20Page&ppn=Search%20Page&ssid=iu5lsrodw00000001521450570475&qH=771a61ef3b18c370">
                <button class="buy-now">Buy-Now</button></a>
            </div>
          </div>
        </div>
    </div>
</div>


    <!--Shop Books Tab Ended-->

<div id="Rent-Books" class="tabcontent">
    <div class="row">
      <div class="column">
        <div  id="bookbtn" class= "figure"><img src="/images/book6.jpg" alt="book6" style="width:50%;cursor:pointer;">
            <div class="overflow"><figcaption style="font-weight: bold;">Book6</figcaption></div>
            <button class="rent-now">Rent-Now</button>
        </div>
      </div>

      <div class="column">
        <div  id="bookbtn" class= "figure"><img src="/images/book7.jpg" alt="book7" style="width:50%;cursor:pointer;">
            <div class="overflow"><figcaption style="font-weight: bold;">Book7</figcaption></div>
            <button class="rent-now">Rent Now</button>
        </div>

      </div>

      <div class="column">
        <div  id="bookbtn" class= "figure"><img src="/images/book8.jpg" alt="book8" style="width:50%;cursor:pointer;">
            <div class="overflow"><figcaption style="font-weight: bold;">Book8</figcaption></div>
            <button class="rent-now">Rent Now</button>
        </div>

      </div>

      <div class="column">
        <div  id="bookbtn" class= "figure"><img src="/images/book9.jpg" alt="book9" style="width:50%;cursor:pointer;">
            <div class="overflow"><figcaption style="font-weight: bold;">Book9</figcaption></div>
            <button class="rent-now">Rent Now</button>
        </div>

      </div>
</div>

<div id="Donate-Books" class="tabcontent">
    <h3>Donate-Books</h3>
    <p>Donate-Books is the capital of Japan.</p>

    <div class="container">
      <form id="contact" action="" method="post">
      <fieldset>
        <input placeholder="Enter Name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Enter Email" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Enter Contact No" type="number" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <textarea placeholder="Enter CompleteAddress" tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
        <input placeholder="Enter PIN Code" type="number" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="No of cartons of Books" type="number" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="(in Kg) Approx wt. of Books, Minimum 5kg" type="number" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
      <form action="/action_page.php">
      Book collection Preferred Date
      <input type="date" name="bday" placeholder="Book collection Preferred Date">
      <input type="submit">

      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
      </form>
      </div>
      <!--End of Form-->





</div>
<div id="Cart" class="tabcontent">
    <h3>This is your Shopping Cart</h3>
    <p>Add items in your cart</p>
</div>
</div>

<!--Tab ki baat khatam-->
<div style="height:1000px"></div>
