@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width:800px;
  height: 850px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 800px;
  height: 800px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 600px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  margin-right: 5px;
  width: 100px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
/* Dropdown Button */
.blog-category-btn,
.blog-language-btn {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 0px;
    height: 32px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    background-color: white;
    color: gray;
    border-bottom: 1px solid #AAA;
}
.blog-category-btn{
  width: 200px;
}
.blog-language-btn{
  width: 210px;
}


/* The container <div> - needed to position the dropdown content */
.blog-category,
.blog-language {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.blog-category-content,
.blog-language-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 450px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.blog-category-content a,
.blog-language-content a {
    color: black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}

/* Change color of dropdown links on hover */

/* Show the dropdown menu on hover */
.blog-category:hover .blog-category-content,
.blog-language:hover .blog-language-content {
    display: block;
}
